<div class="slider">
	<div class="slider__buttons">
		<button ng-click="slideTable('right')" class="slider__button"
				ng-class="{'button-disabled': reachedLeftEnd}" ng-disabled="reachedLeftEnd">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 11 16" style="enable-background:new 0 0 11 16;" xml:space="preserve">
          <g id="XMLID_2_">
            <polygon id="XMLID_3_" class="fill" points="10.2,2.2 8,0 0,8 0.2,8.2 0.2,8.2 8,16 10.2,13.8 4.4,8 	"/>
          </g>
        </svg>

    </button>
		<button ng-click="slideTable('left')" ng-disabled="reachedRightEnd" class="slider__button">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 11 16" style="enable-background:new 0 0 11 16;" xml:space="preserve">
          <g id="XMLID_2_">
            <polygon id="XMLID_3_" class="fill" points="0,13.8 2.2,16 10.2,8 10,7.8 10,7.8 2.2,0 0,2.2 5.8,8 	"/>
          </g>
      </svg>
    </button>
	</div>
</div>
